doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='icon', href='/images/bluemix-icon.png')
  body
    block content
